body {
  margin: 0;
  padding:0;
  font-family: 'Nunito' ;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code{
  font-family: 'Nunito' ;
  font-style: normal;
  font-weight: 300;
}
