.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HomeTopImg{
    width: 100%;
    height: 100vh;
    top:0; 
    left:0;
    z-index: -1;
    
    align-items: center;
    object-fit: cover;
    position: absolute;
  }
  

  .Home h1{
    position: absolute;
    top: 40%;
    font-family: 'Gulim';
    letter-spacing: 0.2em;
    color:white;
    opacity: 0.3;
    font-size: 1.75rem;
    margin: 0 25px;
    text-align: center;
  }