.Home{
  display: flex;
  justify-content: center;
}

.HomeTopImg{
    width: 100%;
    height: 100vh;
    top:0; 
    left:0;
    z-index: -1;
    
    align-items: center;
    object-fit: cover;
    position: absolute;
  }
  
  .HomeLogoImg{
    margin-top: 10px;
    width: 150px;
    

    animation: HomeLogoImg 1s ease-in-out infinite alternate ;
  }


  @keyframes HomeLogoImg {
    0% { filter: blur(3px); opacity: 0.05;}
    100% { filter: blur(0); opacity: 0.5;}
  }