.Farm{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
}

.topFarmIMG{
    width: 100%;
    height: 50vh;
    top:0; 
    left:0;
    z-index: -1;
    
    align-items: center;
    object-fit: cover;
    object-position: center;
    position: absolute;
    
    margin: 0;
    padding: 0;
  }


  .btnSumbitBack{
    margin-top: 60px;
    border-radius: 20px;
    width: 180px;
    padding: 8px 0;
    background-color:#f50057;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
    .btnSumbitBack:hover{
  cursor: pointer;
  background-color: #ab003c; 
  }
  
  .footerFarm{
    width: 100%;
    height: 36vh;
   background-color: #dcdcdc;

   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   position: relative;

  }

  .FarmBody{
      margin-top: 50vh;   
      top: 50vh;
      width: 95%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .FarmInfoDiv{
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .FarmInfoDiv article{
      width: 500px;
      height: 309px;
      border: 2px solid #abee91;
      border-radius: 50px;
      margin:25px;
  }

  .projectInfoImage{
      width: 100%;
      height: 100%;
      border-radius: 50px; 
      object-fit: cover;
      border: 2px solid #abee91;
      

  }

  .FarmInfoDiv h1{
      color:grey;
      margin:8px;
  }

  .FarmAddSensor:hover{
      background-color:black;
      border-radius: 50%;
      color: white;
      font-size: 2rem;
      cursor: pointer;
  }


  .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .farmSensorIcon{
        color:rgb(29, 202, 29); 
        background-color:rgb(48, 34, 34);
        border-radius: 50%;
        padding:5px;
        font-size: 1rem;

    }
    .farmSensorIcon:hover{
        cursor: pointer;
        color:white;
        font-size: 2rem;
        
    }

    .PopupMap p{
        margin:0;
    }

    .overlays, .mapboxgl-canvas{
        border-radius: 50px;
        border: 2px solid #abee91;
    }

    .mapboxgl-ctrl-logo{
      display:none;
    }