.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .farmSensorIcon{
        color:rgb(29, 202, 29); 
        background-color:rgb(48, 34, 34);
        border-radius: 50%;
        padding:5px;
        font-size: 1rem;

    }
    .farmSensorIcon:hover{
        cursor: pointer;
        color:white;
        font-size: 2rem;
        
    }

    .PopupMap p{
        margin:0;
    }
